
header{
    display: flex;
    background: linear-gradient(to bottom, #15d6ff, #956ce6, #8d3cc4);
    justify-content: center;
}

h2{
    color: white;
}

body{
    color: white;
    font-family: sans-serif;
}
.container{
    padding-left: 2rem;
    padding-right: 2rem;

}

.card-section{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));

}

.card{
    background: linear-gradient(to bottom, #15d6ff, #956ce6, #8d3cc4);
    padding: 1.75rem;
    border-radius: 1.75rem;
    display: flex;
    flex-wrap: wrap;

}

.card .card-header{
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

.card .card-body{
    flex-basis: 100%;
    margin-top: 1.2rem;

}

.card .card-body{
    margin: 0;

}
button {
    width: 70%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background: #7f34d6;
    font-size: 1em;
    font-weight: bold;
    margin-top: 150px;
    outline: none;
    border-style: none;
    border-radius: 5px;
    transition: .2s ease-in;
}